body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-family: "Helvetica", "Arial", sans-serif;
}

.sidebar {
    width: 425px;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.sidebar p {
    margin: auto auto 10px auto;
}

.sidebar p,
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65em;
}

.sidebar a {
    font-size: 1em;

}

.logo {
    margin: 180px 0 0 0;
    height: 115px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font-size: 4.2em;
    font-family: Norse;
    color: white;
}

.form-header {
    height: 295px;
    background-color: #f9fafb;
    padding: 0px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
}

.form-header-text {
    padding: 105px 40px;
}

.description {
    margin-top: 0;
}

.form-fields {
    box-shadow: 0 15px 20px -20px gray;
    margin-bottom: 15px;
}

.form-fields-container {
    padding: 10px 40px;
}

.form-rows-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 60px;
}

.form-fields-container h3 {
    margin: 10px 0 25px 0;
}

.first-row {
    display: flex;
    gap: 60px;
}

.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input {
    background-color: #FFFFFF;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    width: 300px;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 0;
    font-size: 0.7em;
    font-weight: bold;
    color: #454d58;
    letter-spacing: 1.5px;
}

input[type=password]:user-invalid {
    border-color: red;
}

input:focus, input:focus-visible, input:focus-within {
    border-color: #4f74db;
    outline: none;
    box-shadow: 3px 3px 10px -5px gray;
}

.form-footer-container {
    padding: 15px 40px;
    background-color: #f9fafb;
}

button {
    background-color: #596d48;
    color: #FFFFFF;
    font-size: 1em;
    padding: 15px 55px;
    border-radius: 7px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.form-footer-container p {
    margin: 30px 0;
}

.form-footer-container a {
    color: #596d48;
    font-size: 1em;
    font-weight: bold;
}